<h3>Actor's List <a class="btn btn-secondary" href="/imdb/editactor"><i class="fa fa-plus"></i> Add Actor</a> </h3>
<table class = "table table-stripped">
    <thead>
        <th>Poster</th>
        <th>Actor's Name</th>
        <th>Date Of Birth</th>
        <th>Sex</th>
        <th>Bio</th>
        <th></th>
    </thead>
    <tbody>
        {{#each list}}
        <tr><td><img src="/{{this.poster}}" height="100" width="100"></td>
            <td>{{this.actorName}}</td>
            <td>{{this.dateOfBirth}}</td>
            <td>{{this.sex}}</td>
            <td>{{this.bio}}</td>
            <td>
                <a href="/imdb/editactor/{{this._id}}"><i class = "fa fa-pencil fa-lg" aria-hidden="true"></i></a>
                
              

            </td>
        </tr>

        {{/each}}
    </tbody>
</table>