<h3>{{viewTitle}}</h3>
<form action = "/imdb/editactor" method = "POST" autocomplete="off" enctype="multipart/form-data">
  <input type="hidden" name="_id" value="{{actor._id}}">
    <div class = "form-group">
        <label>Actor Name</label>
        <input type = "text" class ="form-control" name = "actorName" placeholder="Actor Name" value="{{actor.actorName}}" required />
        <div class="text-danger">{{actor.actorNameError}}</div>
    </div>
     <div class = "form-group">
        <label>Sex</label>
        <select class ="form-control" name = "sex" placeholder="Sex" value="{{actor.sex}}" required />
            <option value="" selected hidden>Options</option>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
            <option value="Don't Prefer">Dont Prefer to Say!</option>
        </select>
        <div class="text-danger">{{actor.sexError}}</div>
    </div>
    <div class = "form-group">
        <label>Date of Birth</label>
        <input type = "date" class ="form-control" name = "dateOfBirth" placeholder="plot"  min="1800-01-01" max="2020-12-31"value="{{actor.dateOfBirth}}" required/ >
        <div class="text-danger">{{actor.dateOfBirthError}}</div>
    </div>
   
    <div class = "form-group">
        <label>Bio</label>
        <input type = "text" class ="form-control" name = "bio" placeholder="Bio"value="{{actor.bio}}" required />
        <div class="text-danger">{{actor.castError}}</div>
    </div>
    <div class = "form-group">
        <label>Poster</label>
        <input type = "file" class ="form-control" accept="image/*" name = "poster" placeholder="plot" value="{{actor.poster}}" required />
        <div class="text-danger">{{imdb.posterError}}</div>
    </div>  

    <div class="form-group">
        <button type="submit" class="btn btn-info"><i class="fa fa-database"></i>Submit!</button>
    </div>


</form>